[submodule "Libraries/Deluge"]
	path = Libraries/Deluge
	url = ssh://git@git.jameshurst.me:10022/iOS/Deluge-Swift.git
[submodule "Libraries/Transmission"]
	path = Libraries/Transmission
	url = ssh://git@git.jameshurst.me:10022/iOS/Transmission-Swift.git
